<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/plugins/fontawesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/plugins/jquery/dist/jquery.min.js"></script>

    @RenderSection("scripts", false);
</body>
</html>
