h1 {
    color: dodgerblue;
}
*{
    padding:0;
    margin:0;
}
ul{
    list-style:none;
}

ul:after{
    content:"";
    clear:both;
    display:block;
    height:0;
    line-height:0;
    visibility:hidden;
}


li.dialogfile-path, li.dialogfile-search{
    float:left;
}